@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1;
  background-image: url(./img/AdobeStock_280279207.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  background: transparent;
}
.fa-facebook,
.fa-twitter,
.fa-telegram {
  margin-top: 20px !important;
  margin-right: 20px;
  font-size: 25px !important;
}

.fa-facebook {
  color: #3b5998;
}
.fa-facebook:hover {
  transform: scale(1.2);
}
.fa-twitter {
  color: #00acee;
}
.fa-twitter:hover {
  transform: scale(1.2);
}
.fa-telegram {
  color: #0088cc;
}
.fa-telegram:hover {
  transform: scale(1.2);
}
.fa-envelope {
  margin-top: 13px;
  margin-right: 20px;
  font-size: 25px;
  color: #fff;
  padding: 10px;
  background: #d44638;
  border-radius: 20px;
}

.email {
  font-size: 18px;
  display: none;
}
.fa-envelope:hover .email {
  display: inline-block;
}

.left-text {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 140%;
}
.right-text {
  text-align: end;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  margin-left: 100px !important;
}

.creating {
  text-transform: uppercase;
  color: #d44638;
  letter-spacing: 1px;
  font-weight: 800;
}
.different {
  text-transform: uppercase;
  color: #00acee;
  letter-spacing: 1px;
  font-size: 65px;
  font-weight: 800;
}

.change {
  text-transform: uppercase;
  color: #d44638;
  font-weight: 600;
}

.form-text {
  color: #fff !important;
}

.form-control {
  background: none !important;
  border-radius: 0px !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 2px solid #fff !important;
}
.btn-color {
  color: #fff;
  background: #00acee;
  border: none;
  border-radius: 50px !important;
}
